{%extends 'base.html'%}

{%block title%}Activities{%endblock title%}

{%block body%}

<center>
  <div class="mt-4">
  <h2 style="color: #333333; background: #FFFFFF; text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);">
    UOH Course Library
  </h2>
  </div>
</center>


<div class="row row-cols-1 row-cols-md-3 g-4 mx-4 my-3">
  <div class="col">
    <div class="card h-100">
      <img src="/static/pr.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pattern Recognization</h5>
        <p class="card-text">
          Pattern recognition is the automated recognition of patterns and regularities in data. </p></div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/se.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Software Engineering</h5>
        <p class="card-text">
        Software engineering is a systematic engineering approach to software development. A software engineer is a person who applies the principles of software engineering
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/pythontut.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Python Programming</h5>
        <p class="card-text">
          "Python is a simple, yet powerful programming language that bridges the gap between C and shell programming,
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/static/java.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Java Programming</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100">
      <img src="/static/crypto.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cryptography</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card h-100">
      <img src="/static/os.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Operating Systems</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

{%endblock body%}